cffi==1.14.6
cryptography==3.3.2
Django==2.2.19
django-argonauts==1.2.0
django-debug-toolbar==1.11
pycparser==2.19
python-u2flib-server==5.0.0
pytz==2019.2
qrcode==6.1
six==1.12.0
sqlparse==0.3.0
whitenoise==3.1
