{% extends 'django_mfa/base.html' %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Are you sure, you want to disable two-factor authentication?</h3>
  </div>
  <div class="panel-body">
    <form action="." method="POST">
      {% csrf_token %}
      <dl class="form-group">
        <dt><label for="two-factor-code">Enter the six-digit code from the application from the two-factor app on your mobile device. If you've lost your device, you may enter one of your recovery codes.</label></dt>
        <dd>
          <input class="form-control" id="two-factor-code" type="text" name="verification_code" value="" placeholder="Enter six digit number." autocomplete="off">
          <input type="hidden" class="form-control" name="next" value="{{ next }}">
          {% if error_message %}
          <p>{{ error_message }}</p>
          {% endif %}
        </dd>
      </dl>
      <button type="submit" class="btn btn-primary">Disable two-factor authentication</button>
    </form>
  </div>
</div>
{% endblock %}