{% extends 'django_mfa/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<h1>{% trans 'Please verify one of the authentication methods below.' %}</h1>
{% if u2f_enabled %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>U2F authentication</h3>
  </div>
  <div class="panel-body">
    <p class="two-factor-status">
      click below for u2f authentication
    </p>
    <a href="{% url 'mfa:verify_second_factor_u2f' %}" class="btn btn-default">U2F Authentication</a>
  </div>
</div>
{% endif %}
{% if twofactor_enabled  %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Two-factor authentication</h3>
  </div>
  <div class="panel-body">
    <p class="two-factor-status">
      click below for two factor authentication
    </p>
    <a href="{% url 'mfa:verify_second_factor_totp' %}" class="btn btn-default">Two-factor authentication</a>
  </div>
</div>
{% endif %}
<script src="{% static 'django_u2f/u2f-api.js' %}" ></script>
<script src="{% static 'django_u2f/django_u2f.js' %}" ></script>
{% endblock %}