{% extends base_template %}
{% load i18n %}
{% block content %}
<h1>{% trans "Enter a recovery code" %}</h1>
<p>{% blocktrans %}You have {{ remaining }} recovery codes remaining.{% endblocktrans %}</p>
<form accept-charset="UTF-8" method="post" action="">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}">
  <dl class="form-group">
    <dt><label for="id_code">{% trans "Recovery code" %}</label></dt>
    <dd>
      <input class="form-control" id="id_code" type="text" name="code" value=""
             autocomplete="off" autofocus>
      {% if error_message %}
      <p class="help-block text-danger">{{ error_message }}</p>
      {% endif %}
    </dd>
  </dl>
  <button type="submit" class="btn btn-primary">{% trans "Verify" %}</button>
</form>
{% endblock %}
